{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    <h2>Edit Blog Post</h2>
    {% if post %}
        <form method="POST">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="{{ post['title'] }}" required><br><br>

            <label for="content">Content:</label><br>
            <textarea id="content" name="content" rows="10" required>{{ post['content'] }}</textarea><br><br>

            <input type="submit" value="Update Post" class="button">
        </form>
    {% else %}
        <p>Post not found.</p>
    {% endif %}
{% endblock %}